// Find the full list of options on the wiki:
// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html

// ===  Spawn-At-Startup  ===
// spawn-at-startup "dms" "run"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "bash" "-c" "~/.config/niri/scripts/workspace-router.sh"

// ===  No Client Side Decoration  ===
prefer-no-csd

// ===  Screenshot Paths  ===
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null // If you dont want to save the screenshots

// ===  Environment Variables  ===
environment {
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_TYPE "wayland"
  SSH_AUTH_SOCK "/run/user/1000/gcr/ssh"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

// ===  Cursor Settings  ===
cursor {
//    xcursor-theme "breeze_cursors" // Change with the name of your cursor theme
//  xcursor-size 30 // Change the size of the cursor
    hide-after-inactive-ms 1000
}

// ===  Overview Settings  ===
overview {
    zoom 0.35
    workspace-shadow {
        off
    }
}

// ===  Hotkey Overlay  ===
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

// ===  Config Notification  ===
config-notification {
    disable-failed
}

// ===  Blur Settings  ===
blur {
    on
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

// === Layer Rules ===
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
    background-effect {
        blur true
    }
}
